/* .container{
  padding: 0;
  margin: 0;
} */

.nav-bar {
  margin-bottom: 2rem;
}

.intro-welcome {
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.strike {
  margin-top: 3rem;
}

.strike::before,
.strike::after {
  display: inline-block;
  content: "";
  border-top: 0.3rem solid black;
  width: 4rem;
  margin: 0 1rem;
}

#homeSecondaryColumn {
}

#homePrimaryColumn {
  height: 40px;
}

#homeTertiaryColumn {
  width: 300px;
  float: left;
  margin-right: 20px;
  clear: left;
}

#homeTertiaryColumn:before {
  position: relative;
  top: 300vh;
}

.book {
  cursor: pointer;
  /* width: 30vw;
  height: 20vh; */
}

.book:hover {
  font-weight: bold;
  border: 2px solid green;
}

/* .book-img:hover{
  position:relative;
  top:-25px;
  left:-35px;
} */

.book-title:hover {
  font-weight: bold;
}

#stats-container {
  height: 35vh;
  position: relative;
  width: 100%;
}

#stats-headers {
  width: 100%;
}

#stat {
  background-color: pink;
}

#header {
  background-color: aliceblue;
  height: 35vh;
  margin: 0;
}

main {
  margin: 0;
}
